body{
	background:#8ac1fc;
	color:#fff;
	padding:0;
	margin:0
}
.wrapper{
	margin:0;
	padding:20px 15px;
	width:100%
}
.bg{max-width:1000px}
a.back{color:lime}

h1,h2,h3{text-align:center;padding:0 15px}
h4{padding:0 15px}
.wrapper{padding:0;margin:0;width:100%}
.bg{max-width:1000px}

/*--------------------------
 ------ Navigation ------
--------------------------*/
ul.mainNav{}
ul.mainNav>li{list-style:none;padding:3px 15px;}
ul.mainNav>li>a{
	color:#fff;
	display:inline;
	padding:0;
	text-decoration:none
}
ul.mainNav>li>a:hover{
	background:none;
	color:#f1c40f;
	text-decoration:underline;
}

/*--- Nav ------*/
ul.nav{}
ul.nav>li{list-style:none;display:inline-block}
ul.nav>li>a{
	color:#fff;
	display:inline-block;
	padding:3px 15px;
	text-decoration:none
}
ul.nav>li>a.active{background:#2c3e50}
ul.nav>li>a.active:hover{color:red}
ul.nav>li>a:hover{color:green;text-decoration:underline}

/*--------------------------
 ------ Insert & Edit ------
--------------------------*/
.formArea{margin:0;padding:0;width:100%}
/*-----------------
 ------ View ------
-----------------*/
.viewArea{border-bottom:3px solid #fff;padding:15px 15px 80px;width:100%;}
.view{padding-bottom:15px;width:100%}
.view>label{display:inline-block;width:150px}
.view>p{color:#ffff00;margin:0;display:inline-block;width:300px}
ul.viewLink{margin:0;padding:10px;text-align:center;}
ul.viewLink>li{display:inline-block;list-style:none;margin:0 30px;}
ul.viewLink>li>a{color:#fff;text-decoration:none}
ul.viewLink>li>a:hover{color:#ffff00;text-decoration:underline}

/*-----------------
 ------ List ------
-----------------*/
.tableInfo{padding-bottom:12px}
.items{color:#4388cc;padding:5px 8px;text-align:center;width:70%}
.items>option{}
.listArea{margin:0;padding:40px 0 0;widht:100%}
.listBox{box-sizing:border-box;float:left;padding:0;width:100%}
ul.listLink{
	float:right;
    margin:0;
    padding:20px 15px;
    text-align:right;
}
ul.listLink>li{
	color:#b5b5b5;
	display:inline-block;
    float:left;
    line-height:33px;
    margin:0 6px;
}
ul.listLink>li>a{color:#fff;text-decoration:none}
ul.listLink>li>a.next{
	background:url("../images/next.png") no-repeat 0 0 / 32px 32px;
    display:block;
    height:32px;
    width:32px;
}
ul.listLink>li>a:hover{color:#ffff00;text-decoration:underline}
.text-center>tr>th{text-align:center}
td>a{color:#fff}
td>a:hover{color:#f39c12}
td>form{display:inline-block}
.list-btn{
	background:none;
	border:0;
	border-radius:15px;
    cursor:pointer;
	display:inline-block;
    height:26px;
    margin:0 5px;
    padding:0;
    width:26px
}
.list-btn>img{width:100%}

/*--- Animation ----*/
ul.mainNav>li>a:hover,
ul.nav>li>a:hover,
ul.viewLink>li>a:hover,
ul.listLink>li>a:hover,
td>a:hover{
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}